<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Aste online - sito d'aste online</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'gestione_catalogo/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'gestione_catalogo/css/icomoon-social.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'gestione_catalogo/css/leaflet.css' %}" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'gestione_catalogo/css/main.css' %}">

        <script src="{% static 'gestione_catalogo/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    {% block head %}
    {% endblock %}
    <body>
        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>

			        		{% if not request.user.is_authenticated %}
                                <a href="{% url 'gestione_utenti:login' %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Accedi</a>

                            {% else %}
                                <a href="{% url 'gestione_utenti:logout' %}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Logout</a>
                            {% endif %}
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><H1>Aste online</H1></li>
						<li class="active">
							<a href="{% url 'gestione_catalogo:index' %}">Home</a>
						</li>
						<li>
							<a href="{% url 'gestione_catalogo:categorie' %}">Categorie</a>
						</li>
						<li>
							<a href="{% url 'gestione_utenti:crea_asta' %}">Crea Asta</a>
						</li>
						<li class="has-submenu">
							<a href="#">Le mie aste</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4>Create</h4>
										<ul>
											<li><a href={% url "gestione_catalogo:asta_creata" %}>Aste create</a></li>

										</ul>

									</div>
                                    <div>
                                        <h4>Partecipate</h4>
                                        <ul>
											<li><a href={% url "gestione_catalogo:asta_partecipata" %}>Aste a cui ho partecipato</a></li>

										</ul>
                                    </div>
                                    <div>
                                       <h4>Vinte</h4>
                                        <ul>
											<li><a href={% url "gestione_catalogo:asta_vinta" %}>Aste vinte</a></li>

										</ul>
                                    </div>

								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li>
							<a href={% url "gestione_utenti:contattaci" %}>About us</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
    </body>
    {% block body %}
    {% endblock %}
    <body>
	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="{% url 'gestione_catalogo:index' %}">Home</a></li>
		    				<li><a href="{% url 'gestione_catalogo:categorie' %}">Categorie</a></li>
		    				<li><a href="{% url 'gestione_utenti:crea_asta' %}">Crea asta</a></li>
		    				<li><a href="{% url 'gestione_catalogo:asta_creata' %}">Aste create</a></li>
                            <li><a href="{% url 'gestione_catalogo:asta_partecipata' %}">Aste a cui hai partecipato</a></li>
                            <li><a href="{% url 'gestione_catalogo:asta_vinta' %}">Aste vinte</a></li>
		    				<li><a href="{% url 'gestione_utenti:contattaci' %}">About-us</a></li>
		    			</ul>
		    		</div>


		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 213/B via campi, Modena, Italy<br/>
	        				<b>Phone:</b> +39 123 654321<br/>
	        				<b>Email:</b> <a href="mailto:noreply.asteonline@gmail.com">noreply.asteonline@gmail.com</a>
	        			</p>
		    		</div>

		    	</div>

		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{% static 'gestione_catalogo/js/bootstrap.min.js' %}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{% static 'gestione_catalogo/js/jquery.fitvids.js' %}"></script>
        <script src="{% static 'gestione_catalogo/js/jquery.sequence-min.js' %}"></script>
        <script src="{% static 'gestione_catalogo/js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'gestione_catalogo/js/main-menu.js' %}"></script>
        <script src="{% static 'gestione_catalogo/js/template.js' %}"></script>

    </body>
</html>