{% extends "gestione_catalogo/base.html" %}
    {% block head %}
        {% load staticfiles %}


    {% endblock %}
    {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

               <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Categorie</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
	        <div class="container">
	        	<div class="row">
                    <form role="form" role="form" method="post" id="login_form">

                    <section >
                        {% csrf_token %}
                        {% if asta %}
                            <div class="col-md-4 col-sm-6">
                                <div class="service-wrapper">
                                    <!--<img src="{% static 'gestione_catalogo/img/service-icon/diamond.png' %}" alt="Service Name">
		        			     --><h3>{{ asta.nome }}</h3>

                                    <!--<a href="{% url 'gestione_catalogo:aste_categorie' asta.id %}" class="btn">Visualizza</a>
		        		      --></div>
                                <div>
                                    {{ messaggio }}
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                {% if not scadenza %}
                                    <p>asta scaduta</p>
                                {% endif %}

                                {% else %}
                                    <!-- altrimenti è in scadenza e quindi può partecipare all'asta-->
                                    <p>asta in scadenza</p> <!--qui ci va il tempo-->
                                {% endif %}

                                <div><h4>Scheda articolo:</h4>
                                    <table>
                                        <tr><p>Descrizione: {{ asta.descrizione }}</p></tr>
                                        <tr><p>Utente: {{ puntata.vincente.username }}</p></tr>
                                        <tr><p>Valore puntata: {{ puntata.importo }}</p></tr>
                                    </table>
                                </div>
                                <!--se è ancora valida allora posso partecipare all'asta -->
                                {% if scadenza%}
                                    <!-- inserisco un bottone voto-->
                                    <label for="punta"><i class="icon-lock"></i> <b>Punta: <span class="required"></span></b></label>
									<input name="puntata" class="text requiredField" class="form-control" id="punta" type="text" placeholder="" >
                                    <!--poi ci andrà :puntata-->
                                    <!--<a href="{% url 'gestione_acquisti:elem_asta' asta.id %}" class="btn">Buy</a>-->
                                    <button type="submit">Punta</button>
                                {% endif %}
                            </div>
                    </section>
                    </form>

                    <!-- qui inserisco il for-->
<!--	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static 'gestione_catalogo/img/service-icon/diamond.png' %}" alt="Service Name">
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static 'gestione_catalogo/img/service-icon/ruler.png' %}" alt="Service Name">
		        			<h3>Curabitur mollis</h3>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static 'gestione_catalogo/img/service-icon/box.png' %}" alt="Service Name">
		        			<h3>Vivamus mattis</h3>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static 'gestione_catalogo/img/service-icon/diamond.png' %}" alt="Service Name">
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static 'gestione_catalogo/img/service-icon/ruler.png' %}" alt="Service Name">
		        			<h3>Curabitur mollis</h3>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static 'gestione_catalogo/img/service-icon/box.png' %}" alt="Service Name">
		        			<h3>Vivamus mattis</h3>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>-->
	        	</div>
	        </div>
	    </div>





    {% endblock %}
</html>